{% extends 'content.html' %}
{% load static %}
{% block title %}Learn Python Programming - Sinbros{% endblock %}
{% block extra-head %}
    <meta name="description" content="Learn Python Programming." />
    <meta name="keywords"  content="Learn Python Programming, Learn Python Programming Online, Learn Competitive Programming, Basic Programming and Pattern Programms, google coding interview questions,google interview, facebook interview, coding interview, programming interview, mnc company interview" />
{% endblock %}
{% block learn-class %} class='active' {% endblock %}
{% block python-class %} class='active' {% endblock %}

{% block body %}
    <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-box text-center">
                            <div class="page-title-heading">
                                <h1 class="title">Learn Python</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="/"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span>Learn Python</span>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <article class="post ttm-blog-classic clearfix">
                            <a href="../face-detection-using-opencv-python/">
                            <!-- post-featured-wrapper -->
                            <div class="ttm-post-featured-wrapper ttm-featured-wrapper">
                                <div class="ttm-post-featured">
                                    <img class="img-fluid" src="{% static 'image/blog/face-detection.png' %}" alt="post-01">
                                </div>
                            </div><!-- post-featured-wrapper end -->
                            <!-- ttm-blog-classic-content -->
                            <div class="ttm-blog-classic-content">
                                <div class="ttm-post-entry-header">
                                    <div class="post-meta">
                                        <span class="ttm-meta-line byline"><i class="fa fa-user"></i>By Admin</span>
                                        <span class="ttm-meta-line entry-date"><i class="fa fa-calendar"></i><time class="entry-date published" datetime="2020-07-25T00:39:29+00:00">July 25, 2020</time></span>

                                    </div>
                                </div>
                                <div class="entry-content">
                                    <header class="entry-header">
                                        <h2 class="entry-title"><a href="../face-detection-using-opencv-python/">Face Detection Using OpenCV Python</a></h2>
                                    </header>
                                    <div class="ttm-box-desc-text">
                                        <p>How you can detect faces in images as well as videos using Haar Cascades in OpenCV and Python. Face detection is the first step for doing face recognition.</p>
                                    </div>
                                    <!-- separator -->
                                    <div class="separator">
                                        <div class="sep-line mt-25 mb-25"></div>
                                    </div>
                                    <!-- separator -->
                                    <div class="ttm-blogbox-desc-footer">
                                        <div class="ttm-blogbox-footer-readmore d-inline-block">
                                            <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right" href="../face-detection-using-opencv-python/">Read More <i class="ti ti-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- ttm-blog-classic-content end -->
                            </a>
                        </article>
                        <!-- ttm-service-single-content-are end -->
                        <!-- ttm-service-single-content-are -->

                    </div>
                    <div class="col-lg-3 widget-area">

                        <aside class="widget widget-categories">
                            <h3 class="widget-title">Categories</h3>
                            <ul>
                                <li><a href="/learn/competitive-programming">Competitive Programming</a></li>
                                <li><a href="/learn/basic-programming">Basic Programming</a></li>
                                <li><a href="/learn/pattern-programs">Pattern Programs</a></li>
                            </ul>
                        </aside>
                        <aside class="widget post-widget">
                            <h3 class="widget-title">Latest Post</h3>
                            <ul class="widget-post ttm-recent-post-list">
                                {% for i in latest_learn %}
                                <li>
                                    <a href="{% url 'ViewCompetitiveProgramming' learn_url=i.learn_url  %}"><img src="/media/{{i.learn_image}}" alt="post-img"></a>
                                    <a href="{% url 'ViewCompetitiveProgramming' learn_url=i.learn_url  %}">{{i.learn_title}}</a>
                                </li>
                                {% endfor %}

                            </ul>
                        </aside>
                        <aside class="widget widget widget_media_gallery">
                            <a href="/portfolio"><h3 class="widget-title">Portfolio</h3></a>
                            <div class="">
                                {% for i in portfolio %}
                                <div class="gallery-item">
                                    <a href="/portfolio"><img src="/media/{{i.portfolio_image}}" class="img-fluid" alt="blog-img"></a>
                                </div>
                                {% endfor %}
                            </div>
                        </aside>
                        <aside class="widget widget-categories">
                            <h3 class="widget-title">Services</h3>
                            <ul>
                                <li class="web-development" ><a href="/services/web-development">Web Development</a></li>
                                <li class="mobile-application" ><a href="/services/mobile-application">Mobile Application</a></li>
                                <li class="desktop-application" ><a href="/services/desktop-application">Desktop Application</a></li>
                                <li class="digital-marketing" ><a href="/services/digital-marketing">Digital Marketing</a></li>
                                <li class="graphic-designing" ><a href="#">Graphic Designing</a></li>
                                <li class="logo-designing" ><a href="#">Logo Designing</a></li>
                                <li class="domain-registration" ><a href="#">Domain Registration</a></li>
                                <li class="web-hosting" ><a href="#">Web Hosting</a></li>
                            </ul>

                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->

{% endblock %}