{% extends 'content.html' %}
{% load static %}
{% block title %}{{ learn.0.learn_title }} - Sinbros{% endblock %}
{% block extra-head %}
    <meta name="description" content="{{ learn.0.learn_title }}" />
    <meta name="keywords"  content="{{ learn.0.learn_title }},Learn Competitive Programming, Basic Programming and Pattern Programms, google coding interview questions,google interview, facebook interview, coding interview, programming interview, mnc company interview" />
{% endblock %}
{% block learn-class %} class='active' {% endblock %}


{% block basic-programming-class %}
{% if basic_category %}
class='active'
{% endif %}
{% endblock %}

{% block competitive-programming-class %}
{% if competitive_category %}
class='active'
{% endif %}
{% endblock %}

{% block pattern-programs-class %}
{% if pattern_category %}
class='active'
{% endif %}
{% endblock %}


{% block extra-css %}
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sons-of-obsidian"></script>
{% endblock %}
{% block body %}
    <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-box text-center">
                            <div class="page-title-heading">
                                <h1 class="title">{{ learn.0.learn_title }}</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="index.php"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span><a title="{{ learn.0.learn_category }}" href="/learn/{{last_url}}">{{ learn.0.learn_category }}</a></span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span>{{ learn.0.learn_title }}</span>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area">
                        <!-- ttm-service-single-content-are -->
                        <article class="post ttm-blog-single clearfix">
                            <!-- post-featured-wrapper -->
                            <div class="ttm-post-featured-wrapper">
                                <div class="ttm-post-featured">
                                    <img  class="img-fluid" src="/media/{{learn.0.learn_image}}" alt="post-01">
                                </div>
                            </div><!-- post-featured-wrapper end -->
                            <!-- ttm-blog-classic-content -->


                            <div class="ttm-blog-single-content">
                                <div class="entry-content">
                                    <div class="ttm-post-entry-header">
                                        <div class="post-meta">
                                            <span class="ttm-meta-line byline"><i class="fa fa-user"></i>By Admin</span>
                                            <span class="ttm-meta-line entry-date"><i class="fa fa-calendar"></i><time class="entry-date published" datetime="2018-07-28T00:39:29+00:00">{{ learn.0.learn_date|date:"M" }} {{ learn.0.learn_date|date:"d" }}, {{ learn.0.learn_date|date:"Y" }}</time></span>
                                        </div>
                                    </div>
                                    <!-- separator -->
                                    <div class="separator">
                                        <div class="sep-line mt-15 mb-25"></div>
                                    </div>
                                    <!-- separator -->

                                    <h4>{{ learn.0.learn_sub_title }}</h4>
                                    <p style="text-align:justify">{{ learn.0.learn_des|linebreaks }}</p>
                                    {% if learn.0.learn_ex1 %}
									<h5>Example 1:</h5>
									<div class="row" style="background-color:#f7f9fa;margin:0px">
										<div class="col-sm-12">
<pre>
<code style="margin-top:10px;color:black;font-size:14px">{{ learn.0.learn_ex1 }}
</code></pre>
										</div>
									</div>
									<br>
                                    {% endif %}
                                    {% if learn.0.learn_ex2 %}
									<h5>Example 2:</h5>
									<div class="row" style="background-color:#f7f9fa;margin:0px">
										<div class="col-sm-12">
<pre>
<code style="margin-top:10px;color:black;font-size:14px">{{ learn.0.learn_ex2 }}
</code></pre>

										</div>
									</div>
									<br>
                                    {% endif %}

									<!-- separator -->
                                    <div class="separator">
                                        <div class="sep-line mt-15 mb-25"></div>
                                    </div>
                                    <!-- separator -->
									<h4>Sollutions</h4>
                                    {% if learn.0.learn_python %}
									<h5>Python : </h5>
									<div class="row">
										<div class="col-sm-12">
											<pre class="prettyprint" style="padding: 10px"><code style="font-size:14px;">{{ learn.0.learn_python }}
											</code></pre>
										</div>
									</div>

									<br>
                                    {% endif %}
                                    {% if learn.0.learn_c %}
									<h5>C Programming : </h5>
									<div class="row">
                                        <div class="col-sm-12">
                                            <pre class="prettyprint" style="padding: 10px"><code style="font-size:14px;">{{ learn.0.learn_c }}
                                            </code></pre>
                                        </div>
                                    </div>

									<br>
                                    {% endif %}
                                    {% if learn.0.learn_cpp %}
									<h5>C++ : </h5>
									<div class="row">
                                        <div class="col-sm-12">
                                            <pre class="prettyprint" style="padding: 10px"><code style="font-size:14px;">{{ learn.0.learn_cpp }}
                                            </code></pre>
                                        </div>
                                    </div>
                                    <br>
                                    {% endif %}
                                    {% if learn.0.learn_java %}
                                    <h5>Java : </h5>
									<div class="row">
                                        <div class="col-sm-12">
                                            <pre class="prettyprint" style="padding: 10px"><code style="font-size:14px;">{{ learn.0.learn_java }}
                                            </code></pre>
                                        </div>
                                    </div>
                                    {% endif %}

                                </div>
                            </div><!-- ttm-blog-classic-content end -->
                        </article>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">

                        <aside class="widget widget-categories">
                            <h3 class="widget-title">Categories</h3>
                            <ul>
                                <li><a href="/learn/competitive-programming">Competitive Programming</a></li>
                                <li><a href="/learn/basic-programming">Basic Programming</a></li>
                                <li><a href="/learn/pattern-programs">Pattern Programs</a></li>
                            </ul>
                        </aside>
                        <aside class="widget post-widget">
                            <h3 class="widget-title">Latest Post</h3>
                            <ul class="widget-post ttm-recent-post-list">
                                {% for i in latest_learn %}
                                <li>
                                    <a href="{% url 'ViewCompetitiveProgramming' learn_url=i.learn_url  %}"><img src="/media/{{i.learn_image}}" alt="post-img"></a>
                                    <a href="{% url 'ViewCompetitiveProgramming' learn_url=i.learn_url  %}">{{i.learn_title}}</a>
                                </li>
                                {% endfor %}

                            </ul>
                        </aside>
                        <aside class="widget widget widget_media_gallery">
                            <a href="/portfolio"><h3 class="widget-title">Portfolio</h3></a>
                            <div class="">
                                {% for i in portfolio %}
                                <div class="gallery-item">
                                    <a href="/portfolio"><img src="/media/{{i.portfolio_image}}" class="img-fluid" alt="blog-img"></a>
                                </div>
                                {% endfor %}
                            </div>
                        </aside>
                        <aside class="widget widget-categories">
                            <h3 class="widget-title">Services</h3>
                            <ul>
                                <li class="web-development" ><a href="/services/web-development">Web Development</a></li>
                                <li class="mobile-application" ><a href="/services/mobile-application">Mobile Application</a></li>
                                <li class="desktop-application" ><a href="/services/desktop-application">Desktop Application</a></li>
                                <li class="digital-marketing" ><a href="/services/digital-marketing">Digital Marketing</a></li>
                                <li class="graphic-designing" ><a href="#">Graphic Designing</a></li>
                                <li class="logo-designing" ><a href="#">Logo Designing</a></li>
                                <li class="domain-registration" ><a href="#">Domain Registration</a></li>
                                <li class="web-hosting" ><a href="#">Web Hosting</a></li>
                            </ul>

                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->
{% endblock %}