{% extends 'content.html' %}
{% load static %}
{% block title %}Sinbros - Website Design & Development | Mobile Apps | Desktop Apps | SEO | IT company | Software Solution | Surat | Gujarat{% endblock %}

{% block extra-head %}
    <meta name="description" content="Sinbros Technology is a best web solutions provider company in Surat. We provide Web Application, Magento E-commerce, WordPress , SEO, PPC, Social Media Marketing, Google G Suite Email, Web Security and many web solutions." />
    <meta name="keywords"  content="Ecommerce Website Design & Development, Web design company in Surat, Web Design & Development Company Surat, web development company in Surat, website development in Surat, website development Company, web design company, ecommerce web development company in Surat, Magento Web Development Company in Surat, Wordpress Web Development Company in Surat, custom Website Development, custom web development company Surat, responsive web design company Surat, SEO services in Surat, SMO services in Surat, ppc management services, SEO services in Surat, PPC services in Surat, web solutions in Surat, web hosting service in Surat, Windows Hosting, facebook advertising company Surat, Digital Marketing Services, Online Marketing Company Surat, Email Solutions, Sinbros, Sinbros Technology, Surat, Gujarat, India" />
{% endblock %}
{% block home-class %} class='active' {% endblock %}

{% block body %}
    <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery">
        <rs-module id="rev_slider_1_1" style="" data-version="6.0.1" class="rev_slider_1_1_height">
            <!-- rs-slides -->
            <rs-slides>
                <!-- rs-slide -->
                <rs-slide data-key="rs-1" data-title="Slide" data-thumb="{% static 'image/slider1.jpg' %}" data-anim="  ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                    <img src="{% static 'image/slider1.jpg' %}" title="home-mainslider-bg001" width="1920" height="750" class="rev-slidebg" data-no-retina>
                    <rs-layer
                            id="slider-1-slide-1-layer-0"
                            class="ttm-bgcolor-skincolor"
                            data-type="shape"
                            data-rsp_ch="on"
                            data-xy="xo:54px,54px,-100px,-96px;yo:182px,197px,105px,64px;"
                            data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                            data-dim="w:55px,55px,34px,20px;h:4px,4px,2px,1px;"
                            data-vbility="t,t,f,f"
                            data-frame_0="x:50,50,31,19;"
                            data-frame_1="e:Power0.easeIn;st:190;sR:190;"
                            data-frame_999="o:0;st:w;sR:8510;"
                    >
                    </rs-layer>
                    <a
                            id="slider-1-slide-1-layer-1"
                            class="rs-layer ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-icon-btn-right ttm-btn-color-darkgrey"
                            href="learn/competitive-programming" target="_self" rel="nofollow"
                            data-type="text"
                            data-rsp_ch="on"
                            data-xy="x:l,l,l,c;xo:54px,54px,40px,0;yo:410px,443px,290px,193px;"
                            data-text="s:15,15,12,12;l:27,27,23,25;fw:600;a:center;"
                            data-padding="t:12,12,10,6;r:35,35,22,14;b:15,15,10,6;l:35,35,22,14;"
                            data-frame_0="y:100%;"
                            data-frame_1="st:940;sp:500;sR:940;"
                            data-frame_999="o:0;st:w;sR:7560;"
                    >Learn
                    </a>
                    <rs-layer
                            id="slider-1-slide-1-layer-2"
                            data-type="text"
                            data-color="#263045"
                            data-rsp_ch="on"
                            data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:200px,212px,111px,84px;"
                            data-text="w:normal;s:62,62,50,37;l:70,70,50,50;fw:600;"
                            data-frame_0="x:-50,-50,-31,-19;"
                            data-frame_1="e:Power0.easeIn;st:250;sp:800;sR:250;"
                            data-frame_999="o:0;st:w;sR:7950;"
                    >A <strong class="ttm-textcolor-skincolor">New</strong> Way to Learn
                    </rs-layer>
                    <rs-layer
                            id="slider-1-slide-1-layer-3"
                            data-type="text"
                            data-color="#263045"
                            data-rsp_ch="on"
                            data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:267px,279px,163px,129px;"
                            data-text="w:normal;s:62,62,50,37;l:70,70,50,50;fw:600;"
                            data-frame_0="x:-50,-50,-31,-19;"
                            data-frame_1="e:Power0.easeIn;st:450;sp:800;sR:450;"
                            data-frame_999="o:0;st:w;sR:7750;"
                    >Programming
                    </rs-layer>

                    <rs-layer
                            id="slider-1-slide-1-layer-5"
                            data-type="text"
                            data-color="#3b404c"
                            data-rsp_ch="on"
                            data-xy="xo:50px,50px,40px,-444px;yo:346px,358px,220px,113px;"
                            data-text="s:20,20,16,12;l:27,27,23,14;"
                            data-vbility="t,t,t,f"
                            data-frame_0="x:-50,-50,-31,-19;"
                            data-frame_1="e:Power0.easeIn;st:860;sp:500;sR:860;"
                            data-frame_999="o:0;st:w;sR:7640;"
                    >Sinbros is the best platform to help you enhance your skills,<br>expand your knowledge and prepare for technical interviews.
                    </rs-layer>

                </rs-slide>
                <!-- rs-slide -->
            </rs-slides>
        </rs-module><!-- rs-module -->
    </rs-module-wrap>
    <!-- END REVOLUTION SLIDER -->

    <!--site-main start-->
    <div class="site-main">

        <!-- zero-padding-section -->
        <section class="ttm-row zero-padding-section position-relative z-1 clearfix">
            <div class="container">
                <div class="row no-gutters ttm-bgcolor-darkgrey featured-icon-box-style1-row">
                    <div class="col-md-4">
                        <!--  featured-icon-box -->
                        <div class="featured-icon-box left-icon style1 ttm-bgcolor-skincolor">
                            <div class="featured-icon"><!--  featured-icon -->
                                <div class="ttm-icon ttm-icon_element-bgcolor-darkgrey ttm-icon_element-size-md">
                                    <i class="flaticon flaticon-system"></i><!--  ttm-icon -->
                                </div>
                            </div>
                            <div class="featured-content"><!--  featured-content -->
                                <div class="featured-title"><!--  featured-title -->
                                    <h5>Trusted Services</h5>
                                </div>
                                <div class="featured-desc"><!--  featured-desc -->
                                    <p>We Are Trusted Our Customers</p>
                                </div>
                            </div>
                        </div><!--  featured-icon-box END -->
                    </div>
                    <div class="col-md-4">
                        <!--  featured-icon-box -->
                        <div class="featured-icon-box left-icon style1 ttm-bgcolor-darkgrey">
                            <div class="featured-icon"><!--  featured-icon -->
                                <div class="ttm-icon ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-md">
                                    <i class="flaticon flaticon-clock"></i><!--  ttm-icon -->
                                </div>
                            </div>
                            <div class="featured-content"><!--  featured-content -->
                                <div class="featured-title"><!--  featured-title -->
                                    <h5>24/7 Support</h5>
                                </div>
                                <div class="featured-desc"><!--  featured-desc -->
                                    <p>+91 7016871992</p>
                                </div>
                            </div>
                        </div><!--  featured-icon-box END -->
                    </div>
                    <div class="col-md-4">
                        <!--  featured-icon-box -->
                        <div class="featured-icon-box left-icon style1 ttm-bgcolor-skincolor">
                            <div class="featured-icon"><!--  featured-icon -->
                                <div class="ttm-icon ttm-icon_element-bgcolor-darkgrey ttm-icon_element-size-md">
                                    <i class="flaticon flaticon-developer"></i><!--  ttm-icon -->
                                </div>
                            </div>
                            <div class="featured-content"><!--  featured-content -->
                                <div class="featured-title"><!--  featured-title -->
                                    <h5>Expert &amp; Professional</h5>
                                </div>
                                <div class="featured-desc"><!--  featured-desc -->
                                    <p>We Are Trusted Our Customers</p>
                                </div>
                            </div>
                        </div><!--  featured-icon-box END -->
                    </div>
                </div>
            </div>
        </section>
        <!-- zero-padding-section -->

        <!-- blog-section end -->
        <section class="ttm-row blog-section clearfix" style="margin-top:30px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- section title -->
                        <div class="section-title text-center with-desc clearfix">
                            <div class="title-header">
                                <h5>Learn Coding</h5>
                                <h2 class="title">Check Out Our <span>Programming Post</span></h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <!-- blog-slide -->
                    <div class="blog-slide owl-carousel owl-theme owl-loaded " data-item="3" data-nav="false" data-dots="false" data-auto="false">

                        <!-- featured-imagebox-blog -->

                        <div class="featured-imagebox featured-imagebox-blog">
                            <a href="/learn/competitive-programming">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid lazyload" data-src="{%static 'image/competitive.jpg' %}" alt="">
                            </div>

                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="/learn/competitive-programming">Competitive Programming</a></h5>
                                </div>
                                <div class="featured-desc"><!-- featured-description -->
                                    <p>MNC Company Coding Interview Questions</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-20" href="/learn/competitive-programming">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                            </a>
                        </div><!-- featured-imagebox-blog end -->

                        <!-- featured-imagebox-blog -->
                        <div class="featured-imagebox featured-imagebox-blog">
                            <a href="/learn/basic-programming">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid lazyload" data-src="{%static 'image/basic.jpg' %}" alt="">
                            </div>

                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="/learn/basic-programming">Basic Programming</a></h5>
                                </div>
                                <div class="featured-desc"><!-- featured-description -->
                                    <p>Basic Programming Questions</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-20" href="/learn/basic-programming">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                            </a>
                        </div><!-- featured-imagebox-blog end -->

                        <!-- featured-imagebox-blog -->
                        <div class="featured-imagebox featured-imagebox-blog">
                            <a href="/learn/pattern-programs">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid lazyload" data-src="{%static 'image/pattern.jpg' %}" alt="">
                            </div>

                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="/learn/pattern-programs">Pattern Programs</a></h5>
                                </div>
                                <div class="featured-desc"><!-- featured-description -->
                                    <p>Programming Patterns</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-20" href="/learn/pattern-programs">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                            </a>
                        </div><!-- featured-imagebox-blog end -->

                    </div>
                </div>

            </div>
        </section>
        <!-- process-section end -->

        <!-- aboutus-section -->
        <section class="ttm-row aboutus-section clearfix" style="margin-top:20px">
            <div class="container">
                <div class="row"><!-- row -->
                    <div class="col-lg-6">
                        <!-- section title -->
                        <div class="section-title with-desc clearfix">
                            <div class="title-header">
                                <h5>About Our Services</h5>
                                <h2 class="title">We are here to IT Solution with 10 years of <span>experience</span></h2>
                            </div>
                            <div class="title-desc">
                                <p style="text-align:justify">Sinbros Technology is the best Web Solutions provider company in Surat, Gujarat. Our state-of-the-art development center has helped serve clients worldwide since 2011. We have successfully completed over 100 web projects.</p>

                                <P style="text-align:justify">We have a special team for website style who has been involved in designing professional websites of all categories.</P>
                            </div>
                        </div><!-- section title end -->
                        <!-- row -->
                        <div class="row no-gutters mt-35">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <ul class="ttm-list ttm-list-style-icon">
                                    <li><i class="fa fa-circle-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><a href="/services/web-development">Website Development</a> </span></li>
                                    <li><i class="fa fa-circle-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><a href="/services/mobile-application">Mobile Application</a></span></li>
                                    <li><i class="fa fa-circle-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><a href="/services/desktop-application">Desktop Application</a></span></li>
                                    <li><i class="fa fa-circle-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><a href="#">Graphic Designing</a></span></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <ul class="ttm-list ttm-list-style-icon">
                                    <li><i class="fa fa-circle-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><a href="#">Domain Registration</a></span></li>
                                    <li><i class="fa fa-circle-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><a href="#">Web Hosting Services </a></span></li>
                                    <li><i class="fa fa-circle-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><a href="/services/digital-marketing">Digital Marketing</a></span></li>
                                    <li><i class="fa fa-circle-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><a href="#">Logo Designing</a></span></li>
                                </ul>
                            </div>
                        </div><!-- row END-->
                        <!-- separator -->
                        <div class="separator">
                            <div class="sep-line mt-25 mb-30"></div>
                        </div>
                        <!-- separator -->
                        <div class="about-text-box fs-16">
                            <span>Call to ask <a href="contact.php" class="fw-500"><u>any question</u></a></span>
                            <strong class="fs-18">: +91 7016871992</strong>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative res-991-mt-30">
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper">
                                <img class="img-fluid lazyload" data-src="{% static 'image/sumit.jpg' %}" title="single-img-one" alt="single-img-one">
                            </div><!-- ttm_single_image-wrapper end -->
                        </div>
                    </div>
                </div>
                <!-- row end -->
            </div>
        </section>
        <!-- aboutus-section end -->

        <!-- price-text-section end -->
        <section class="ttm-row price-text-section ttm-bgcolor-grey clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- section title -->
                        <div class="section-title text-center with-desc clearfix">
                            <div class="title-header">
                                <h5>Our Pricing Plans for Web Development</h5>
                                <h2 class="title">A yearly project fee <span>Price Plans</span></h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                </div>
            </div>
        </section>
        <!-- price-text-section end -->
        <!-- price-section -->
        <section class="ttm-row topzero-padding-section  clearfix">
            <div class="container">
                <!-- row -->
                <div class="row no-gutters mt_100">
                    <div class="col-md-4">
                        <!--ttm-pricing-plan-->
                        <div class="ttm-pricing-plan box-shadow text-left clearfix">
                            <div class="ttm-ptablebox-title"><h3>Basic</h3></div><!--title-->
                            <div class="ttm-ptablebox-desc">Static Website Development</div>
                            <div class="ttm-ptablebox-content">
                                <div class="ttm-ptablebox-price-w">
                                    <div class="ttm-ptablebox-cur-symbol-before">$</div>
                                    <div class="ttm-ptablebox-price">100.00</div><!--price-->
                                    <div class="ttm-ptablebox-frequency">per year</div>
                                </div>
                                <div class="ttm-ptablebox-features"><!--features-->
                                    <ul class="ttm-feature-lines">
                                        <li>5 Webpages</li>
                                        <li>Free Domain</li>
                                        <li>Free Hosting</li>
                                        <li>Free SSL</li>
                                        <li>SEO Friendly</li>
                                        <li>Mobile Friendly</li>
                                        <li>Enquiry Form</li>
                                        <li>Admin Panel</li>
                                        <li>24/7 Support</li>
                                        <li>$50 Renew Charges</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price_btn">
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-bgcolor-grey mb-20 w-100" href="contact.php">Contact Us</a>
                            </div>
                        </div><!--ttm-pricing-plan-->
                    </div>
                    <div class="col-md-4">
                        <!--ttm-pricing-plan-->
                        <div class="ttm-pricing-plan ttm-pricing-plan-col box-shadow text-left clearfix">
                            <div class="ttm-featured-title"><i class="fa fa-star"></i>MOST POPULAR</div>
                            <div class="ttm-ptablebox-title"><h3>Professional</h3></div><!--title-->
                            <div class="ttm-ptablebox-desc">Dynamic Website Development</div>
                            <div class="ttm-ptablebox-content">
                                <div class="ttm-ptablebox-price-w">
                                    <div class="ttm-ptablebox-cur-symbol-before">$</div>
                                    <div class="ttm-ptablebox-price">200.00</div><!--price-->
                                    <div class="ttm-ptablebox-frequency">per year</div>
                                </div>
                                <div class="ttm-ptablebox-features"><!--features-->
                                    <ul class="ttm-feature-lines">
                                        <li>8 Webpages</li>
                                        <li>Free Domain</li>
                                        <li>Free Hosting</li>
                                        <li>Free SSL</li>
                                        <li>SEO Friendly</li>
                                        <li>Mobile Friendly</li>
                                        <li>Dynamic Website</li>
                                        <li>Admin Panel</li>
                                        <li>24/7 Support</li>
                                        <li>$100 Renew Charges</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price_btn">
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-bgcolor-grey mb-20 w-100" href="contact.php">Contact Us</a>
                            </div>
                        </div><!--ttm-pricing-plan-->
                    </div>
                    <div class="col-md-4">
                        <!--ttm-pricing-plan-->
                        <div class="ttm-pricing-plan box-shadow text-left clearfix">
                            <div class="ttm-ptablebox-title"><h3>Standard</h3></div><!--title-->
                            <div class="ttm-ptablebox-desc">Advance Dynamic Website Development</div>
                            <div class="ttm-ptablebox-content">
                                <div class="ttm-ptablebox-price-w">
                                    <div class="ttm-ptablebox-cur-symbol-before">$</div>
                                    <div class="ttm-ptablebox-price">300.00</div><!--price-->
                                    <div class="ttm-ptablebox-frequency">per year</div>
                                </div>
                                <div class="ttm-ptablebox-features"><!--features-->
                                    <ul class="ttm-feature-lines">
                                        <li>10 Webpages</li>
                                        <li>Free Domain</li>
                                        <li>Free Hosting</li>
                                        <li>Free SSL</li>
                                        <li>SEO Friendly</li>
                                        <li>Mobile Friendly</li>
                                        <li>Full Dynamic Website</li>
                                        <li>Admin Panel</li>
                                        <li>24/7 Support</li>
                                        <li>$150 Renew Charges</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price_btn">
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-bgcolor-grey mb-20 w-100" href="contact.php">Contact Us</a>
                            </div>
                        </div><!--ttm-pricing-plan-->
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!-- price-section end -->
    </div><!--site-main end-->
{% endblock %}

