{% extends 'content.html' %}
{% load static %}
{% block title %}About Us - Sinbros{% endblock %}
{% block extra-head %}
    <meta name="description" content="Sinbros Technology is a best web solutions provider company in Surat. We provide Web Application, Magento E-commerce, WordPress , SEO, PPC, Social Media Marketing, Google G Suite Email, Web Security and many web solutions." />
    <meta name="keywords"  content="Ecommerce Website Design & Development, Web design company in Surat, Web Design & Development Company Surat, web development company in Surat, website development in Surat, website development Company, web design company, ecommerce web development company in Surat, Magento Web Development Company in Surat, Wordpress Web Development Company in Surat, custom Website Development, custom web development company Surat, responsive web design company Surat, SEO services in Surat, SMO services in Surat, ppc management services, SEO services in Surat, PPC services in Surat, web solutions in Surat, web hosting service in Surat, Windows Hosting, facebook advertising company Surat, Digital Marketing Services, Online Marketing Company Surat, Email Solutions, Sinbros, Sinbros Technology, Surat, Gujarat, India" />
{% endblock %}
{% block more-class %} class='active' {% endblock %}
{% block about-us-class %} class='active' {% endblock %}

{% block body %}
    <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-box text-center">
                            <div class="page-title-heading">
                                <h1 class="title">About Us</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="../"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span>About Us</span>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">

            <!-- aboutus-section -->
            <section class="ttm-row aboutus-section clearfix">
                <div class="container">
                    <div class="row"><!-- row -->
                        <div class="col-lg-6">
                            <!-- section title -->
                            <div class="section-title with-desc clearfix">
                                <div class="title-header">
                                    <h5>About us</h5>
                                    <h2 class="title">We are here to IT Solution with 10 years of <span>experience</span></h2>
                                </div>
                                <div class="title-desc">
                                    <p style="text-align:justify">Sinbros Technology is the best Web Solutions provider company in Surat, Gujarat. Our state-of-the-art development center has helped serve clients worldwide since 2011. We have successfully completed over 100 web projects.</p>

                                    <P style="text-align:justify">We have a special team for website style who has been involved in designing professional websites of all categories.</P>
                                </div>
                            </div><!-- section title end -->
                            <!-- row -->
                            <div class="row no-gutters mt-35 mb-25">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">24/7 Hours Support Flexible Price </span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Web And Mobile Application </span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">New Domain Registration</span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Web Hosting Service</span></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Programming Blogs </span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Programming Tutorail</span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Latest Tech News </span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Graphic & Logo Design</span></li>
                                    </ul>
                                </div>
                            </div><!-- row END-->
                            <p style="text-align:justify" class="mb-0">Along with an IT training institute, SINBROS also provides advanced IT Solutions to clients. We excel in providing professional advice to an individual or an organization. At SINBROS, we also offer professional consultancy services to IT professionals as well as college students to help them secure good placements in top IT firms.</p>
                            <a href="../services/" class="ttm-btn ttm-btn-bgcolor-skincolor ttm-btn-size-md mt-35">Our Services</a>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative res-991-mt-30">
                                <!-- ttm_single_image-wrapper -->
                                <div class="ttm_single_image-wrapper text-sm-center">
                                    <img class="img-fluid" src="{%static 'images/single-img-seven.png'%}" title="single-img-seven" alt="single-img-seven">
                                </div><!-- ttm_single_image-wrapper end -->
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                </div>
            </section>
            <!-- aboutus-section end -->

            <!-- about-us-section -->
            <section class="ttm-row zero-padding-section ttm-bgcolor-white clearfix">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <div class="ttm-bgcolor-grey ttm-bg ttm-col-bgcolor-yes ttm-left-span spacing-7 position-relative z-1">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                                    <div class="ttm-bg-layer-inner"></div>
                                </div>
                                <div class="layer-content">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- ttm_single_image-wrapper -->
                                            <div class="ttm_single_image-wrapper">
                                                <img class="img-fluid" src="{%static 'image/sumit.jpg'%}" title="single-img-eight" alt="single-img-eight">
                                            </div><!-- ttm_single_image-wrapper end -->
                                            <div class="about-overlay-02">
                                                <h3>10 Years of</h3>
                                                <p>IT Business Experience</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="res-991-mt-30">
                                                <!-- section title -->
                                                <div class="section-title with-desc clearfix">
                                                    <div class="title-header">
                                                        <h2 class="title">Why Sinbros Technology</h2>
                                                    </div>
                                                    <div style="text-align:justify" class="title-desc">
                                                        <p>Sinbros Technology is one of the finest Web solution providers in Surat. With more than 10 years of hard-earned experience, we know exactly what to do to get your company an outstanding website that best represents your product/service.</p>
                                                    </div>
                                                </div><!-- section title end -->
                                                <div class="mt-30">
                                                    <!-- progress-bar -->
                                                    <div class="ttm-progress-bar" data-percent="90%">
                                                        <div class="progress-bar-title">Web Development</div><!-- progress-bar-title -->
                                                        <div class="progress-bar-inner">
                                                            <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                                        </div>
                                                        <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-percent -->
                                                    </div>
                                                    <!-- progress-bar END -->
                                                    <!-- progress-bar -->
                                                    <div class="ttm-progress-bar" data-percent="80%">
                                                        <div class="progress-bar-title">App Development</div><!-- progress-bar-TITLE -->
                                                        <div class="progress-bar-inner">
                                                            <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                                        </div>
                                                        <div class="progress-bar-percent" data-percentage="80">80%</div><!-- progress-bar-PERCENT -->
                                                    </div>
                                                    <!-- progress-bar END -->
                                                    <!-- progress-bar -->
                                                    <div class="ttm-progress-bar" data-percent="95%">
                                                        <div class="progress-bar-title">Graphic Designing</div><!-- progress-bar-title -->
                                                        <div class="progress-bar-inner">
                                                            <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                                        </div>
                                                        <div class="progress-bar-percent" data-percentage="95">95%</div><!-- progress-bar-percent -->
                                                    </div>
                                                    <!-- progress-bar END -->
                                                    <div class="ttm-progress-bar" data-percent="90%">
                                                        <div class="progress-bar-title">Logo Designing</div><!-- progress-bar-title -->
                                                        <div class="progress-bar-inner">
                                                            <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                                        </div>
                                                        <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-percent -->
                                                    </div>
                                                    <!-- progress-bar -->
                                                    <div class="ttm-progress-bar" data-percent="80%">
                                                        <div class="progress-bar-title">Digital Marketing</div><!-- progress-bar-TITLE -->
                                                        <div class="progress-bar-inner">
                                                            <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                                        </div>
                                                        <div class="progress-bar-percent" data-percentage="80">80%</div><!-- progress-bar-PERCENT -->
                                                    </div>
                                                    <!-- progress-bar END -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-us-section -->

            <!-- fid-section -->
            <section class="ttm-row fid-section ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes bg-img10 mt_225 res-991-mt-0 clearfix">
                <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!--  ttm-icon -->
                            <div class="ttm-fid inside ttm-fid-view-topicon">
                                <div class="ttm-fid-icon-wrapper">
                                    <div class="ttm-icon ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon flaticon-online-library"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <div class="ttm-fid-contents"><!--  ttm-fid-contents -->
                                    <h4><span   data-appear-animation = "animateDigits"
                                                data-from             = "0"
                                                data-to               = "175"
                                                data-interval         = "5"
                                                data-before           = ""
                                                data-before-style     = "sup"
                                                data-after            = ""
                                                data-after-style      = "sub"
                                            >458
                                        </span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Completed Projects</h3><!--  ttm-fid-title -->
                                </div><!-- ttm-fid-contents end -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--  ttm-icon -->
                            <div class="ttm-fid inside ttm-fid-view-topicon">
                                <div class="ttm-fid-icon-wrapper">
                                    <div class="ttm-icon ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon flaticon-developer"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <div class="ttm-fid-contents"><!--  ttm-fid-contents -->
                                    <h4><span   data-appear-animation = "animateDigits"
                                                data-from             = "0"
                                                data-to               = "88"
                                                data-interval         = "5"
                                                data-before           = ""
                                                data-before-style     = "sup"
                                                data-after            = ""
                                                data-after-style      = "sub"
                                            >954
                                        </span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Happy Clients</h3><!--  ttm-fid-title -->
                                </div><!-- ttm-fid-contents end -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--  ttm-icon -->
                            <div class="ttm-fid inside ttm-fid-view-topicon">
                                <div class="ttm-fid-icon-wrapper">
                                    <div class="ttm-icon ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon flaticon-24h"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <div class="ttm-fid-contents"><!--  ttm-fid-contents -->
                                    <h4><span   data-appear-animation = "animateDigits"
                                                data-from             = "0"
                                                data-to               = "70"
                                                data-interval         = "5"
                                                data-before           = ""
                                                data-before-style     = "sup"
                                                data-after            = ""
                                                data-after-style      = "sub"
                                            >897
                                        </span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Services Provider</h3><!--  ttm-fid-title -->
                                </div><!-- ttm-fid-contents end -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--  ttm-icon -->
                            <div class="ttm-fid inside ttm-fid-view-topicon">
                                <div class="ttm-fid-icon-wrapper">
                                    <div class="ttm-icon ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon flaticon-report"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <div class="ttm-fid-contents"><!--  ttm-fid-contents -->
                                    <h4><span   data-appear-animation = "animateDigits"
                                                data-from             = "0"
                                                data-to               = "50"
                                                data-interval         = "5"
                                                data-before           = ""
                                                data-before-style     = "sup"
                                                data-after            = ""
                                                data-after-style      = "sub"
                                            >785
                                        </span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Cloud Designs</h3><!--  ttm-fid-title -->
                                </div><!-- ttm-fid-contents end -->
                            </div>
                        </div>
                    </div>
                    <!-- row end-->
                </div>
            </section>
            <!-- fid-section end -->




            <!-- blog-section end -->
        <section class="ttm-row blog-section clearfix" style="margin-top:30px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- section title -->
                        <div class="section-title text-center with-desc clearfix">
                            <div class="title-header">
                                <h5>Learn Coding</h5>
                                <h2 class="title">Check Out Our <span>Programming Post</span></h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <!-- blog-slide -->
                    <div class="blog-slide owl-carousel owl-theme owl-loaded " data-item="3" data-nav="false" data-dots="false" data-auto="false">

                        <!-- featured-imagebox-blog -->

                        <div class="featured-imagebox featured-imagebox-blog">
                            <a href="/learn/competitive-programming">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid lazyload" data-src="{%static 'image/competitive.jpg' %}" alt="">
                            </div>

                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="/learn/competitive-programming">Competitive Programming</a></h5>
                                </div>
                                <div class="featured-desc"><!-- featured-description -->
                                    <p>MNC Company Coding Interview Questions</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-20" href="/learn/competitive-programming">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                            </a>
                        </div><!-- featured-imagebox-blog end -->

                        <!-- featured-imagebox-blog -->
                        <div class="featured-imagebox featured-imagebox-blog">
                            <a href="/learn/basic-programming">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid lazyload" data-src="{%static 'image/basic.jpg' %}" alt="">
                            </div>

                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="/learn/basic-programming">Basic Programming</a></h5>
                                </div>
                                <div class="featured-desc"><!-- featured-description -->
                                    <p>Basic Programming Questions</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-20" href="/learn/basic-programming">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                            </a>
                        </div><!-- featured-imagebox-blog end -->

                        <!-- featured-imagebox-blog -->
                        <div class="featured-imagebox featured-imagebox-blog">
                            <a href="/learn/pattern-programs">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid lazyload" data-src="{%static 'image/pattern.jpg' %}" alt="">
                            </div>

                            <div class="featured-content"><!-- featured-content -->
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="/learn/pattern-programs">Pattern Programs</a></h5>
                                </div>
                                <div class="featured-desc"><!-- featured-description -->
                                    <p>Programming Patterns</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-20" href="/learn/pattern-programs">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                            </a>
                        </div><!-- featured-imagebox-blog end -->

                    </div>
                </div>

            </div>
        </section>
        <!-- process-section end -->

        </div><!--site-main end-->
{% endblock %}