{% extends 'content.html' %}
{% load static %}
{% block title %}Aman Singh | Our Experts - Sinbros{% endblock %}
{% block more-class %} class='active' {% endblock %}
{% block our-experts-class %} class='active' {% endblock %}

{% block body %}
<!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-box text-center">
                            <div class="page-title-heading">
                                <h1 class="title">Aman Singh</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="../"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span>
                                    <a title="Homepage" href="our-experts.php"><i class="ti ti-home"></i>&nbsp;&nbsp;Our Experts</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span>Aman Singh</span>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">

            <!-- team-details-section -->
            <section class="ttm-row team-details-section clearfix">
                <div class="container">
                    <div class="row"><!-- row -->
                        <div class="col-lg-4">
                            <div class="ttm-featured-wrapper">
                                <div class="featured-thumbnail text-center">
                                    <img class="img-fluid" src="{%static 'image/aman.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="ttm-team-member-content shadow-box res-991-mt-30">
                                <div class="ttm-team-member-single-list">
                                    <h2 class="ttm-team-member-single-title">Aman Singh</h2>
                                    <span class="ttm-team-member-single-position">Graphic Deisgner / Website Developer & Designer </span>
                                    <p style="text-align: justify;" >He is a Founder of AK Creation. He is Graphic Designer in Sinbros Techonology and He is Winner of Many National Level & State Level Logo Making Competitions and Poster Making Competitions. He has 15+ Awards of Logo Making Competition & Design Making Competitions.</p>
                                    <p style="text-align: justify;">He is also skilled in Digital Marketing, Graphic Designer and SEO. He is skilled in Many Web Development Framework like Flask, Codeigniter and Wordpress.</p>
                               <!--     <p style="text-align: justify;">He is also Skilled in Many Web Development Framework like Django, Flask, Laravel and Codeigniter.</p>
                               -->     <p style="text-align: justify;">
                                        He is Logo Designer, Poster Designer, Graphic Designer and Blog Writer.
                                    </p>
                                    <!-- separator -->
                                    <div class="separator">
                                        <div class="sep-line mt-25 mb-25"></div>
                                    </div>
                                    <!-- separator -->
                                    <div class="ttm-team-data">
                                        <div class="ttm-team-details-wrapper">
                                            <ul class="ttm-team-details-list clearfix">
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="fa fa-phone"></i> Phone :</div>
                                                    <div class="ttm-team-list-value"><a href="tel:+1800200145" tabindex="0">+91 8866636834</a></div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="ti ti-email"></i> Email :</div>
                                                    <div class="ttm-team-list-value"><a href="mailto:info@example.com">amansinghdesigner@gmail.com</a></div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="ti ti-world"></i> Website :</div>
                                                    <div class="ttm-team-list-value"><a target="_blank" href="https://sinbros.com/about/aman-singh.php">www.amansinghdesigner.com</a></div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="ti ti-time"></i> Experience :</div>
                                                    <div class="ttm-team-list-value">5 Years</div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="ti ti-calendar"></i> Since :</div>
                                                    <div class="ttm-team-list-value">2015</div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="ti ti-location-pin"></i> Address Info :</div>
                                                    <div class="ttm-team-list-value">Surat, Gujarat, India</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- separator -->
                                    <div class="separator">
                                        <div class="sep-line mt-15 mb-25"></div>
                                    </div>
                                    <!-- separator -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                    <div class="row"><!-- row -->
                        <div class="col-md-6">
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="90%">
                                <div class="progress-bar-title">Graphic Desinging</div><!-- progress-bar-title -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-percent -->
                            </div>
                            <!-- progress-bar END -->
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="80%">
                                <div class="progress-bar-title">Logo Designing</div><!-- progress-bar-TITLE -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="95">95%</div><!-- progress-bar-PERCENT -->
                            </div>
                            <!-- progress-bar END -->
                        </div>
                        <div class="col-md-6">
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="85%">
                                <div class="progress-bar-title">Video Editing</div><!-- progress-bar-title -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="85">85%</div><!-- progress-bar-percent -->
                            </div>
                            <!-- progress-bar END -->
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="80%">
                                <div class="progress-bar-title">Digital Marketing</div><!-- progress-bar-TITLE -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="80">80%</div><!-- progress-bar-PERCENT -->
                            </div>
                            <!-- progress-bar END -->
                        </div>
                    </div>
                    <!-- row end -->
                    <div class="row mt-40">
                        <div class="col-12">
                            <h4>Career Guidelines</h4>
                            <p class="mb-40">He is studying BCA from SDJ International College, VNSGU. He has above 10 years of Experience in IT Industry. He is Winner of Many National, State and Inter College Level Programming Competitions.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4>Contact Me</h4>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="member-info-box border mb-30">
                                        <div class="timing-box">
                                            <i class="ti ti-time"></i>
                                            <h5>Working Time</h5>
                                        </div>
                                        <ul class="timing-list">
                                            <li>
                                                <span class="day">Monday - Friday :</span>
                                                <span class="time">10.00AM - 06.00PM</span>
                                            </li>
                                            <li>
                                                <span class="day">Saturday :</span>
                                                <span class="time">10.00AM - 02.00PM</span>
                                            </li>
                                            <li>
                                                <span class="day">Sunday :</span>
                                                <span class="time">Closed</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="member-info-box border">
                                        <div class="timing-box">
                                            <i class="flaticon flaticon-developer"></i>
                                            <h5>General Information</h5>
                                        </div>
                                        <ul class="info-list">
                                            <li>
                                                <i class="ti ti-location-pin"></i>
                                                <span>Surat, Gujarat, India</span>
                                            </li>
                                            <li>
                                                <i class="ti ti-mobile"></i>
                                                <span>(+91) 8866636834</span>
                                            </li>
                                            <li>
                                                <i class="ti ti-comment"></i>
                                                <span>amansinghdesigner@gamil.com</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="member-contact-form border res-991-mt-30">
                                        <form id="ttm-quote-form" class="row ttm-quote-form clearfix" method="post" action="#">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="name" type="text" class="form-control ttm-bgcolor-grey" placeholder="Full Name*" required="required">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="phone" type="text" placeholder="Phone Number*" required="required" class="form-control  ttm-bgcolor-grey">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="address" type="text" placeholder="Email Address*" required="required" class="form-control  ttm-bgcolor-grey">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="subject" type="text" placeholder="Subject" required="required" class="form-control  ttm-bgcolor-grey">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <textarea name="Massage" rows="6" placeholder="Write A Massage..." required="required" class="form-control  ttm-bgcolor-grey"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="text-left">
                                                    <button type="submit" id="submit" class="ttm-btn ttm-btn-size-md ttm-btn-bgcolor-skincolor" value="">
                                                        Book An Appointment
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- team-details-section end -->

        </div><!--site-main end-->
{% endblock %}