{% extends 'content.html' %}
{% load static %}
{% block title %}Our Experts - Sinbros{% endblock %}
{% block more-class %} class='active' {% endblock %}
{% block our-experts-class %} class='active' {% endblock %}

{% block body %}
   <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-box text-center">
                            <div class="page-title-heading">
                                <h1 class="title"> Our Experts</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="../"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span> Our Experts</span>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">

            <!-- services-slide-section -->
            <section class="ttm-row grid-section clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-sm-6">
                            <!-- featured-imagebox-team -->
                            <a href="/about/our-experts/sumit-singh">
                            <div class="featured-imagebox featured-imagebox-team style1 mb-30">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{%static 'image/sumit.jpg'%}" alt="image">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-instagram"><a href="https://www.sumit.sinbros.com"><i class=" fa fa-link" title="Website" aria-hidden="true"></i></a></li>
                                            <li class="social-instagram"><a href="https://www.instagram.com/i_m_sumitsingh/"><i class="fa fa-instagram" title="Instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="featured-content box-shadow">
                                    <div class="featured-title"><!-- featured-title -->
                                        <h5><a href="/about/our-experts/sumit-singh">Sumit Singh</a></h5>
                                    </div>
                                    <p class="category">Team Leader</p><!-- category -->
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6">
                            <!-- featured-imagebox-team -->
                            <a href="/about/our-experts/chandani-singh">
                            <div class="featured-imagebox featured-imagebox-team style1 mb-30">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{%static 'image/chandani.jpg'%}" alt="image">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-instagram"><a href="https://www.instagram.com/i_m_chandanisingh/"><i class="fa fa-instagram" title="Instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="featured-content box-shadow">
                                    <div class="featured-title"><!-- featured-title -->
                                        <h5><a href="/about/our-experts/chandani-singh">Chandani Singh</a></h5>
                                    </div>
                                    <p class="category">Web Developer</p><!-- category -->
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6">
                            <!-- featured-imagebox-team -->
                            <a href="/about/our-experts/aman-singh">
                            <div class="featured-imagebox featured-imagebox-team style1 mb-30">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{%static 'image/aman.jpg'%}" alt="image">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-instagram"><a href="https://www.amansinghdesigner.com"><i class=" fa fa-link" title="Website" aria-hidden="true"></i></a></li>
                                            <li class="social-instagram"><a href="https://www.instagram.com/amansinghdesigner/"><i class="fa fa-instagram" title="Instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="featured-content box-shadow">
                                    <div class="featured-title"><!-- featured-title -->
                                        <h5><a href="/about/our-experts/aman-singh">Aman Singh</a></h5>
                                    </div>
                                    <p class="category">Graphic Designer</p><!-- category -->
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            </a>
                        </div>

                    </div>
                    <!-- row end-->
                </div>
            </section>
            <!-- services-slide-section end -->

        </div><!--site-main end-->
{% endblock %}