{% extends 'content.html' %}
{% load static %}
{% block title %}Vision / Mission / Values - Sinbros{% endblock %}
{% block more-class %} class='active' {% endblock %}
{% block vision-class %} class='active' {% endblock %}

{% block body %}
   <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-box text-center">
                            <div class="page-title-heading">
                                <h1 class="title"> Vision / Mission / Values</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="../"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span> Vision / Mission / Values</span>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area order-lg-2">
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{%static 'image/about/vision.jpg'%}" alt="single-img-twelve">
                            </div>
                            <div class="ttm-service-description">


                                <div class="accordion style2 mt-20">
                                    <!-- toggle -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">Our Vision</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p style="text-align: justify;" >Our vision is to provide expert service to our customers, be customer centric so that the website/app offers more presence and visibility for the customer’s goods/services. We also endeavor:</p>
                                                    <ul style="list-style-type:disc"  >
                                                        <li>To be the chief product and service provider company in mobile platform and web applications by encouraging novel ideas and providing business revolution to our clients.</li>
                                                        <li>To be an industry pioneer and best comprehend and gratify the creations and services.</li>
                                                        <li>To cater to the self-accomplishment needs of customer. </li>
                                                        <li>To stimulate its human resources to be the best that they can be.</li>
                                                        <li>To work with vision of connecting business with great talent to work without limits.</li>
                                                        <li>To provide the latest and advanced IT trainings to our students.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Our Mission</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p style="text-align: justify;" >We at Sinbros Technology firmly believe in becoming an advanced service provider and a process oriented company focused to deliver the maximum to our clients. We also focus to:</p>
                                                    <ul style="list-style-type:disc"  >
                                                        <li>Bringing customers to your door.</li>
                                                        <li>Maximizing your visibility and providing the optimal result.</li>
                                                        <li>Ensuring that you are found on the Information Superhighway.</li>
                                                        <li>Reflecting the personality of your business.</li>
                                                        <li>Working as a round-the-clock employee for you.</li>
                                                        <li>Providing product and company information to your customers.</li>
                                                        <li>Creatively marketing yourself and your business online.</li>
                                                        <li>Making your company a leading-edge IT enterprise.</li>
                                                        <li>Delivering the best software solution to you.</li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Our Values</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p style="font-size: 14px" ><b>1. CUSTOMER CONTENTMENT</b></p>
                                <ul style="list-style-type:disc"  >
                                    <li>Listen intently, comprehend and respond to our clients.</li>
                                    <li>Plainly commune mutual objectives and hopes.</li>
                                    <li>Make it simple and easy for our customers to coordinate with us.</li>
                                    <li>Deliver pioneering and spirited products and services.</li>
                                    <li>To focus on customer interests.</li>
                                </ul>
                                <br>
                                <p style="font-size: 14px" ><b>2. RESULT ORIENTED APPROACH</b></p>
                                <ul style="list-style-type:disc"  >
                                    <li>Set demanding and viable objectives.</li>
                                    <li>Believing it as a mutual task between us and our clients.</li>
                                    <li>Concentrate attention on creation.</li>
                                    <li>Execute impeccably.</li>
                                </ul>
                                <br>
                                <p style="font-size: 14px" ><b>3. SPEED AND EFFICENCY</b></p>
                                <ul style="list-style-type:disc"  >
                                    <li>Point in time to market is of chief significance.</li>
                                    <li>Focus on reusability of modules and components.</li>
                                    <li>Let loose the supremacy of knowledge of man.</li>
                                    <li>Sinbros Technology - Company Profile</li>
                                </ul>
                                <br>
                                <p style="font-size: 14px" ><b>4. RADIANT EXCELLENCE</b></p>
                                <ul style="list-style-type:disc"  >
                                    <li>Accomplish high standards of brilliance.</li>
                                    <li>Learn persistently, build up and progress.</li>
                                    <li>Do right things in a right manner at right time.</li>
                                    <li>Take conceit in your work.</li>
                                </ul>
                                <br>
                                <p style="font-size: 14px" ><b>5. PEACEFUL PLACE TO WORK.</b></p>
                                <ul style="list-style-type:disc"  >
                                    <li>Encourage healthy work atmosphere.</li>
                                    <li>Toil as a team with respect for one and all.</li>
                                    <li>Foster novelty.</li>
                                    <li>Be directive to the point and open.</li>
                                </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                </div>
                            </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">

                        <aside class="widget widget-text">
                            <h3 class="widget-title">About Us</h3>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{%static 'image/sumit.jpg'%}" alt="author image">
                                </div>
                                <h4 class="author-name">Sumit Singh</h4>
                                <p class="author-widget_text" style="text-align: justify;">Sinbros Technology is a best web solutions provider company in Surat, Gujarat, India. We are specialized in Customized Website, Digital marketing, Mobile App Development & Desktop App Development.</p>
                            </div>
                        </aside>

                        <aside class="widget widget_media_image">
                            <div class="banner-img-box ttm-textcolor-white text-left">
                                <div class="featured-content featured-content-banner">
                                    <i class="flaticon flaticon-call"></i>
                                    <div class="featured-title ttm-box-title">
                                        <h5>How Can We Help?</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>If you need any help, please<br> feel free to contact us.</p>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+91 7016871992</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@example.com">sinbrostechnology@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->
{% endblock %}