{% extends 'content.html' %}
{% load static %}
{% block title %}Desktop Application | Services - Sinbros{% endblock %}
{% block extra-head %}
    <meta name="description" content="Sinbros Technology is a best web solutions provider company in Surat. We provide Web Application, Magento E-commerce, WordPress , SEO, PPC, Social Media Marketing, Google G Suite Email, Web Security and many web solutions." />
    <meta name="keywords"  content="Ecommerce Website Design & Development, Web design company in Surat, Web Design & Development Company Surat, web development company in Surat, website development in Surat, website development Company, web design company, ecommerce web development company in Surat, Magento Web Development Company in Surat, Wordpress Web Development Company in Surat, custom Website Development, custom web development company Surat, responsive web design company Surat, SEO services in Surat, SMO services in Surat, ppc management services, SEO services in Surat, PPC services in Surat, web solutions in Surat, web hosting service in Surat, Windows Hosting, facebook advertising company Surat, Digital Marketing Services, Online Marketing Company Surat, Email Solutions, Sinbros, Sinbros Technology, Surat, Gujarat, India" />
{% endblock %}
{% block services-class %} class='active' {% endblock %}
{% block desktop-application %} class='active' {% endblock %}

{% block body %}
<!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-box text-center">
                            <div class="page-title-heading">
                                <h1 class="title"> Desktop Application</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="../"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span> Desktop Application</span>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area order-lg-2">
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'image/service/desktop-application.jpg'%}" alt="single-img-twelve">
                            </div>
                            <div class="ttm-service-description">
                                <h3>Desktop Application</h3>
                                <p style="text-align: justify;" >Desktop application runs stand alone in a desktop or laptop computer. Contrasting with Web-based application, which requires the Web browser to run.</p>
                                <p style="text-align: justify;" >The Desktop applications we engineer bring out the best of both, as we offer the power and performance of desktop applications with the modern user interface of web applications. We persevere to rapidly transform your dynamic ideas and concepts into new products and applications while improving application performance, reducing your business operation’s complexity, and accelerating your business productivity.</p>
                                <p style="text-align: justify;" >Our industry expertise and technical experience in the development of desktop, client-server, Intranet and Web-based applications has enabled us to offer enterprise solutions for a broad spectrum of industries, including IT, Financial Services, Hospitality, Medical, Energy, Transportation, Real Estate, Education etc., for different geographical areas.</p>
                                <p style="text-align: justify;" >In addition to customizing cost-effective solutions for your company, our Development Team has the skills and experience to take on complex technology development projects, offering an alternative to costly internal technology development efforts.</p>
                                <div class="row no-gutters box-shadow mb-35">
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">
                                                    <i class="flaticon flaticon-global-1"></i>
                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation = "animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "5"
                                                    data-interval         = "1"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >5</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">Years Experience</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">
                                                    <i class="flaticon flaticon-padlock"></i>
                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation = "animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "20"
                                                    data-interval         = "5"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >20</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">Happy Clients</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">
                                                    <i class="flaticon flaticon-developer"></i>
                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation = "animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "10"
                                                    data-interval         = "5"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >10</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">New Customers</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                </div>
                                <p style="text-align: justify;" class="mb-35">Sinbros Technology collaborates with the client to analyze business goals and develop creative branding solutions that build brand through extraordinary customer experiences.</p>
                                <h3>Why Choose Us?</h3>
                                <div class="row m-0 mt-35">
                                    <div class="col-lg-12">
                                        <div class="row box-shadow spacing-11">
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <div class="ttm_single_image-wrapper">
                                                    <img class="img-fluid" src="{% static 'images/single-img-thirteen.jpg'%}" alt="single-img-thirteen">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <p  style="text-align: justify;"  class="mb-30 res-1199-mt-20">Sinbros Technology is one of the top-notch companies. With effective and outstanding results we have established our name. We work with the motive of maximum client satisfaction. Our services are customized as per the client requirements. We are a known leader in our niche.</p>
                                                <p style="text-align: justify;"  class="mb-30 res-1199-mt-20">
                                                    Our web developers are skilled in programming languages like VB.NET, ASP.NET, Java and C#. We intend to grow your business and take it to new heights.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li><a href="/services/web-development">Web Development</a></li>
                                <li><a href="/services/mobile-application">Mobile Application</a></li>
                                <li class="active"><a href="/services/desktop-application">Desktop Application</a></li>

                                <li><a href="/services/digital-marketing">Digital Marketing</a></li>
                                <li><a href="#">Graphic Designing</a></li>
                                <li><a href="#">Logo Designing</a></li>
                                <li><a href="#">Domain Registration</a></li>
                                <li><a href="#">Web Hosting</a></li>
                            </ul>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">About Us</h3>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'image/sumit.jpg'%}" alt="author image">
                                </div>
                                <h4 class="author-name">Sumit Singh</h4>
                                <p class="author-widget_text" style="text-align: justify;">Sinbros Technology is a best web solutions provider company in Surat, Gujarat, India. We are specialized in Customized Website, Digital marketing, Mobile App Development & Desktop App Development.</p>
                            </div>
                        </aside>

                        <aside class="widget widget_media_image">
                            <div class="banner-img-box ttm-textcolor-white text-left">
                                <div class="featured-content featured-content-banner">
                                    <i class="flaticon flaticon-call"></i>
                                    <div class="featured-title ttm-box-title">
                                        <h5>How Can We Help?</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>If you need any help, please<br> feel free to contact us.</p>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+91 7016871992</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@example.com">sinbrostechnology@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->
{% endblock %}