{% extends 'content.html' %}
{% load static %}
{% block title %}Mobile Application | Services - Sinbros{% endblock %}
{% block extra-head %}
    <meta name="description" content="Sinbros Technology is a best web solutions provider company in Surat. We provide Web Application, Magento E-commerce, WordPress , SEO, PPC, Social Media Marketing, Google G Suite Email, Web Security and many web solutions." />
    <meta name="keywords"  content="Ecommerce Website Design & Development, Web design company in Surat, Web Design & Development Company Surat, web development company in Surat, website development in Surat, website development Company, web design company, ecommerce web development company in Surat, Magento Web Development Company in Surat, Wordpress Web Development Company in Surat, custom Website Development, custom web development company Surat, responsive web design company Surat, SEO services in Surat, SMO services in Surat, ppc management services, SEO services in Surat, PPC services in Surat, web solutions in Surat, web hosting service in Surat, Windows Hosting, facebook advertising company Surat, Digital Marketing Services, Online Marketing Company Surat, Email Solutions, Sinbros, Sinbros Technology, Surat, Gujarat, India" />
{% endblock %}
{% block services-class %} class='active' {% endblock %}
{% block mobile-application %} class='active' {% endblock %}

{% block body %}

<!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-box text-center">
                            <div class="page-title-heading">
                                <h1 class="title"> Mobile Application</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="../"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span> Mobile Application</span>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area order-lg-2">
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'image/service/mobile-application.jpg'%}" alt="single-img-twelve">
                            </div>
                            <div class="ttm-service-description">
                                <h3>Mobile Application</h3>
                                <p style="text-align: justify;" >We firmly believe that with mobile application development services should cover more than just coding. Our mobile app developer works with you through mobile strategy, mobile app design, development, app quality assurance and delivery.</p>
                                <p style="text-align: justify;" >
                               We also offer specialized enterprise application development services that can be customized to suit your business needs, including hiring mobile app developers for employee growth; Long-term team integration; And full service application development. Below is the breakdown of the mobile app development services we provide.</p>
                                <div class="row no-gutters box-shadow mb-35">
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">
                                                    <i class="flaticon flaticon-global-1"></i>
                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation = "animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "5"
                                                    data-interval         = "1"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >5</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">Years Experience</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">
                                                    <i class="flaticon flaticon-padlock"></i>
                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation = "animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "15"
                                                    data-interval         = "5"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >15</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">Happy Clients</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">
                                                    <i class="flaticon flaticon-developer"></i>
                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation = "animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "3"
                                                    data-interval         = "2"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >3</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">New Customers</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                </div>
                                <p  style="text-align: justify;" class="mb-35">Sinbros Technology collaborates with the client to analyze business goals and develop creative branding solutions that build brand through extraordinary customer experiences.</p>
                                <h3>Why Choose Us?</h3>
                                <div class="row m-0 mt-35">
                                    <div class="col-lg-12">
                                        <div class="row box-shadow spacing-11">
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <div class="ttm_single_image-wrapper">
                                                    <img class="img-fluid" src="{% static 'images/single-img-thirteen.jpg'%}" alt="single-img-thirteen">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <p  style="text-align: justify;"  class="mb-30 res-1199-mt-20">Sinbros Technology is one of the top-notch companies. With effective and outstanding results we have established our name. We work with the motive of maximum client satisfaction. Our services are customized as per the client requirements. We are a known leader in our niche.</p>
                                                <p style="text-align: justify;"  class="mb-30 res-1199-mt-20">
                                                    Our web developers are skilled in programming languages like Java, Kotlin, React-Native, Swift, IOS and Android. We intend to grow your business and take it to new heights.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- acadion -->
                                <div class="accordion style2 mt-20">
                                    <!-- toggle -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" >IOS App Development Services</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-30" style="text-align: justify;" >Sinbros Technology offer full-service iOS app development company that provides services elegant, rich in feature, designing a custom iOS app comes with a lot of complexity and our innovative "Apple" lab can handle everything easily. We deliver end-to-end customs products that cover the full range of iOS devices.</p>
                                                    <p class="mb-30" style="text-align: justify;" >Our iOS App Development Services transforms the visibility of an iOS app into reality with an easy-to-use, interactive, and intuitive interface. Our iOS lab remains updated with newest Apple updates, Frameworks, Swift and Objective-C languages and new generations of iPhone and iPad.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Android Application Development</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-30" style="text-align: justify;">Android is one of the most popular operating systems for mobile devices. This is the operating system of choice for companies in the developing markets. The Android app development process is a sum of important steps. It includes designing, manufacturing, development and subsequent development.</p>
                                                    <p class="mb-30" style="text-align: justify;">
                                                        To develop a successful Android app, a robust and failed-proof mobile app development process is required. Our goal is to create opportunities for Android developers to create unique and powerful applications.
                                                    </p>
                                                    <p class="mb-30" style="text-align: justify;">
                                                        We, at SINBROS; one of the pioneers in web development companies, offer efficacious and effectual e-Commerce web design, plug-in & module development solutions for small and medium level enterprises enabling you to reach out to the global audience. We create and implement end-to-end e-commerce solutions that are integrated with your business website impeccably.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                </div><!-- acadion end-->
                            </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li><a href="/services/web-development">Web Development</a></li>
                                <li class="active"><a href="/services/mobile-application">Mobile Application</a></li>
                                <li><a href="/services/desktop-application">Desktop Application</a></li>

                                <li><a href="/services/digital-marketing">Digital Marketing</a></li>
                                <li><a href="#">Graphic Designing</a></li>
                                <li><a href="#">Logo Designing</a></li>
                                <li><a href="#">Domain Registration</a></li>
                                <li><a href="#">Web Hosting</a></li>
                            </ul>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">About Us</h3>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'image/sumit.jpg'%}" alt="author image">
                                </div>
                                <h4 class="author-name">Sumit Singh</h4>
                                <p class="author-widget_text" style="text-align: justify;">Sinbros Technology is a best web solutions provider company in Surat, Gujarat, India. We are specialized in Customized Website, Digital marketing, Mobile App Development & Desktop App Development.</p>
                            </div>
                        </aside>

                        <aside class="widget widget_media_image">
                            <div class="banner-img-box ttm-textcolor-white text-left">
                                <div class="featured-content featured-content-banner">
                                    <i class="flaticon flaticon-call"></i>
                                    <div class="featured-title ttm-box-title">
                                        <h5>How Can We Help?</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>If you need any help, please<br> feel free to contact us.</p>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+91 7016871992</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@example.com">sinbrostechnology@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->
{% endblock %}