{% extends 'content.html' %}
{% load static %}
{% block title %}Web Development | Services - Sinbros{% endblock %}
{% block extra-head %}
    <meta name="description" content="Sinbros Technology is a best web solutions provider company in Surat. We provide Web Application, Magento E-commerce, WordPress , SEO, PPC, Social Media Marketing, Google G Suite Email, Web Security and many web solutions." />
    <meta name="keywords"  content="Ecommerce Website Design & Development, Web design company in Surat, Web Design & Development Company Surat, web development company in Surat, website development in Surat, website development Company, web design company, ecommerce web development company in Surat, Magento Web Development Company in Surat, Wordpress Web Development Company in Surat, custom Website Development, custom web development company Surat, responsive web design company Surat, SEO services in Surat, SMO services in Surat, ppc management services, SEO services in Surat, PPC services in Surat, web solutions in Surat, web hosting service in Surat, Windows Hosting, facebook advertising company Surat, Digital Marketing Services, Online Marketing Company Surat, Email Solutions, Sinbros, Sinbros Technology, Surat, Gujarat, India" />
{% endblock %}
{% block services-class %} class='active' {% endblock %}
{% block web-development %} class='active' {% endblock %}

{% block body %}
<!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-box text-center">
                            <div class="page-title-heading">
                                <h1 class="title"> Web Development</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="../"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span> Web Development</span>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area order-lg-2">
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'image/service/web_development.jpg'%}" alt="single-img-twelve">
                            </div>
                            <div class="ttm-service-description">
                                <h3>Web Development</h3>
                                <p style="text-align: justify;" >A website is just a collection of related pages as per its definition but we at Dubai dubline Solutions believe that the development of any website for any company, business or an individual is a vital process, as it reflects what you are or who you are.</p>
                                <p style="text-align: justify;" >
                               Our web development team in always updated with the latest available technology providing our clients with bundles of new features, designs and innovations. Our website designers are experienced and skilled personnel enrm.</p>
                                <div class="row no-gutters box-shadow mb-35">
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">
                                                    <i class="flaticon flaticon-global-1"></i>
                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation = "animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "10"
                                                    data-interval         = "2"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >10</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">Years Experience</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">
                                                    <i class="flaticon flaticon-padlock"></i>
                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation = "animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "55"
                                                    data-interval         = "10"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >55</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">Happy Clients</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">
                                                    <i class="flaticon flaticon-developer"></i>
                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation = "animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "5"
                                                    data-interval         = "10"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >5</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">New Customers</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                </div>
                                <p  style="text-align: justify;" class="mb-35">Sinbros Technology collaborates with the client to analyze business goals and develop creative branding solutions that build brand through extraordinary customer experiences.</p>
                                <h3>Why Choose Us?</h3>
                                <div class="row m-0 mt-35">
                                    <div class="col-lg-12">
                                        <div class="row box-shadow spacing-11">
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <div class="ttm_single_image-wrapper">
                                                    <img class="img-fluid" src="{% static 'images/single-img-thirteen.jpg'%}" alt="single-img-thirteen">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <p  style="text-align: justify;"  class="mb-30 res-1199-mt-20">Sinbros Technology is one of the top-notch companies. With effective and outstanding results we have established our name. We work with the motive of maximum client satisfaction. Our services are customized as per the client requirements. We are a known leader in our niche.</p>
                                                <p style="text-align: justify;"  class="mb-30 res-1199-mt-20">
                                                    Our web developers are skilled in programming languages like PHP, ASP, Python (Django), Flask, and Wordpress. We intend to grow your business and take it to new heights.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- acadion -->
                                <div class="accordion style2 mt-20">
                                    <!-- toggle -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" >Static Web Development</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-30" style="text-align: justify;" >Sxc websites are websites with professional design and layout. Today, static websites are the main source to highlight your business in the global market. A website with a good outlook helps in grabbing the attention of target customers. The power of the web design is initially evaluated from its structure and appearance i.e. its colors, graphics, layout and images and this gives a specific impression. If the web design is low in quality, then the internet user loses interest, which hampers future business potential.</p>
                                                    <p class="mb-30" style="text-align: justify;" >At Sinbros, our objective is to provide the best website design services from conception and generation to online presentation, web building, web production and live placement on the web. We involve our clients in every step of the process, so they are able to meet all aspects of their specific online requirements and can provide different range of services to their clients.</p>
                                                    <p class="mb-30" style="text-align: justify;" >By using core designing in static websites, web developers of our company will bring outstanding look to the websites that will be perceived by the targeted audience. Using upcoming trends in graphic design, we will persevere to connect you to the potential customer. Today when people are relying on the internet even for their requirements of small information regarding any topic, demand for professional web design and layout, with great content and professional web design company is on a high.</p>
                                                    <p class="mb-30" style="text-align: justify;" >There are numbers of companies, which offer standard web design templates which customize the needs of the business. But professionals of our company offer customized solutions based on the needs of the business. Sinbros Technology is familiar with the latest technologies and trends in terms of front end, back end, special scripts, and all other requisite features.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Dynamic Web Development</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-30" style="text-align: justify;">Electronic commerce is commonly known as e-commerce or eCommerce. Online shopping is the process whereby consumers directly buy goods or services from a seller in real-time, over the Internet. It is a form of electronic commerce.</p>
                                                    <p class="mb-30" style="text-align: justify;">
                                                        At Sinbros Technology, we provide solution for businesses to go online and sell their products and services to their consumers or other businesses. When an ecommerce website is dealing with consumer the process is called Business-to-Consumer (B2C) online shopping. When a business buys from another business it is called Business-to-Business (B2B) online shopping.
                                                    </p>
                                                    <p class="mb-30" style="text-align: justify;">
                                                        We, at SINBROS; one of the pioneers in web development companies, offer efficacious and effectual e-Commerce web design, plug-in & module development solutions for small and medium level enterprises enabling you to reach out to the global audience. We create and implement end-to-end e-commerce solutions that are integrated with your business website impeccably.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                </div><!-- acadion end-->
                            </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li class="active"><a href="/services/web-development">Web Development</a></li>
                                <li><a href="/services/mobile-application">Mobile Application</a></li>
                                <li><a href="/services/desktop-application">Desktop Application</a></li>

                                <li><a href="/services/digital-marketing">Digital Marketing</a></li>
                                <li><a href="#">Graphic Designing</a></li>
                                <li><a href="#">Logo Designing</a></li>
                                <li><a href="#">Domain Registration</a></li>
                                <li><a href="#">Web Hosting</a></li>
                            </ul>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">About Us</h3>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'image/sumit.jpg'%}" alt="author image">
                                </div>
                                <h4 class="author-name">Sumit Singh</h4>
                                <p class="author-widget_text" style="text-align: justify;">Sinbros Technology is a best web solutions provider company in Surat, Gujarat, India. We are specialized in Customized Website, Digital marketing, Mobile App Development & Desktop App Development.</p>
                            </div>
                        </aside>

                        <aside class="widget widget_media_image">
                            <div class="banner-img-box ttm-textcolor-white text-left">
                                <div class="featured-content featured-content-banner">
                                    <i class="flaticon flaticon-call"></i>
                                    <div class="featured-title ttm-box-title">
                                        <h5>How Can We Help?</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>If you need any help, please<br> feel free to contact us.</p>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+91 7016871992</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@example.com">sinbrostechnology@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->


{% endblock %}